html {
	font-size: 16px;
	overflow-x: hidden;
	background: linear-gradient(
		109.6deg,
		rgba(0, 0, 0, 0.93) 11.2%,
		rgb(63, 61, 61) 78.9%
	);
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
}
.MuiButtonBase-root:disabled {
	cursor: not-allowed;
	pointer-events: auto;
	opacity: 0.7;
	background-color: #19857b;
	color: #fff;
}
